@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-black-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-black-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-semicondensedextrabold-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-semicondensedextrabold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-bold-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-medium-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-medium-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-regular-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/notosans-semibold-webfont.woff2') format('woff2'), url('../fonts/NotoSans/notosans-semibold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}