// === fonts ===

$font-basis: 'Noto Sans', serif;

// === color ===

$color-basis: #242424;
$color-additional-1: #000;
$color-additional-2: #360f76;
$color-additional-3: #f22387;
$color-additional-4: #fff;

$color-btn: #fff;

$color-marker: #fff;

$bg-basis: #fff;
$bg-2: #f8f8f8;

$bg-circle: #360f76;

$bg-btn: #f22387;
$bg-btn-hover: #ff69b2;
$bg-btn-active: #d81674;

$bg-btn-2: #360f76;
$bg-btn-2-hover: #6c3cb9;
$bg-btn-2-active: #220949;

$bg-btn-back: #f2f2f2;

// === font-size ===

$fz-basis: 16px;

$fz-title-1: 40px;
$fz-title-2: 30px;
$fz-title-3: 35px;
$fz-title-4: 25px;

$fz-text-1: 30px;
$fz-text-2: 20px;
$fz-text-3: 15px;
$fz-text-4: 14px;
$fz-text-5: 12px;

$fz-nav: 14px;

$fz-btn: 15px;
$fz-btn-2: 14px;

$fz-services-title: 24px;

// === size ===

$wrap-max-width: 1180px;
