<div class="cart-product">
    <div class="cart-product__wrap">
        <div class="cart-product__item">
            <div class="cart-product__img-box">
                <img src="../img/cart/cart-item.jpg" alt="Стол руководителя" class="cart-product__img">
            </div>

            <div class="cart-product-description">
                <div class="cart-product-description__item cart-product-description__name">Стол руководителя</div>
                <div class="cart-product-description__item cart-product__parameters">Параметры:<span>200х100х100</span></div>
                <div class="cart-product-description__item cart-product__color">Цвет:<span>Светло-серый</span></div>
                <div class="cart-product-description__item cart-product__article">Артикул:<span>1234567</span></div>
            </div>
        </div>

        <div class="cart-product-box">
            <div class="cart-product-box__item">
                <div class="count-buttons">
                    <div class="count-buttons__box">
                        <button class="count-buttons__btn"></button>
                        <input class="count-buttons__input" placeholder="1">
                        <button class="count-buttons__btn">+</button>
                    </div>
                    <div class="count-buttons__text">шт.</div>
                </div>
    
                <span class="cart-product-box__price">2 742 р.</span>
            </div>

            <div class="cart-product-information-amount">
                <span><span class="cart-product-information-amount__goods">2</span>  шт. х</span>
                <span><span class="cart-product-information-amount__price">5 467</span> р.</span>
            </div>
        </div>
    </div>

    <button class="btn-3">Удалить</button>
</div>