<a href="#!" class="news-info">
    <div class="news-info__wrap">
        <div class="news-info__img-box">
            <div class="marker-box">
                <span class="marker marker_pink">Новинки</span>
            </div>
            <img class="news-info__img" src="../img/news/news-item_1.jpg" alt="Изображение товара" class="news-box-img__item">
        </div>
        <div class="news-info__description">
            <div>
                <time class="news-info__date" datetime="2020-02-02">02.02.2020</time>
                 <div class="news-info__title">Название новости</div>
            </div>
        </div>
    </div>
</a>