<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>КСМ</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="header">
        <div class="header__top">
            <div class="wrap">
                <div class="header__content">
                    <div class="header__box">
                        <nav class="nav">
                            <ul class="nav__list">
                                <li class="li nav__item"><a href="#!" class="nav__link">О нас</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Портфолио</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Оплата и доставка</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Вопрос-ответ</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Сервис</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Контакты</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Новости</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link">Дилерам</a></li>
                                <li class="li nav__item"><a href="#!" class="nav__link nav__link_login">Войти</a></li>
                            </ul>
                        </nav>

                        <div class="contact">
                            <a href="tel:8(861)205-00-77" class="contact__number contact-number">8 (861) 205-00-77</a>
                        </div>

                        <div class="work-time">
                                <span class="work-time__text">Пн-пт 9:00 - 18:00</span>
                                <span class="work-time__text">Сб 10:00 - 15:00</span>
                                <span class="work-time__text">Вс - выходной</span>
                        </div>
                    </div>

                    <div class="header__container">
                        <a href="#" class="logo">
                            <div class="logo__icon"></div>
                            
                            <span class="logo__text">Офисная мебель</span>
                        </a>

                        <!-- Кнопка каталог -->

                        <div class="header-catalog">
                            <button class="btn-catalog btn-base">
                                <svg class="btn-catalog__icon btn-catalog__icon_active"><use xlink:href="#icon-catalog-btn"></use></svg>
                                <svg class="btn-catalog__icon"><use xlink:href="#icon-catalog-open"></use></svg>
                                Каталог
                            </button>
                        </div>

                        <div class="search-box">
                            <input class="search-box__item" placeholder="Поиск среди 1000 товаров" type="search" name="" id="">
                            <svg class="search-box__icon" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6.176" cy="6.176" r="5.176" stroke="#242424" stroke-width="2"/><path d="M10.147 10.147L15 15" stroke="#242424" stroke-width="2"/></svg>
                        </div>

                        <div class="header-btn">
                            <div class="header-btn__item" id="favorites">
                                <svg class="header-btn__icon"><use xlink:href="#icon-favorites"></use></svg>
                                    <span class="header-btn__text">Избранное</span>
                            </div>
                            <div class="header-btn__item" id="compares">
                                <svg class="header-btn__icon"><use xlink:href="#icon-compares"></use></svg>
                                    <span class="header-btn__text">Сравнить</span>
                            </div>
                            <div class="header-btn__item" id="shopping-cart">
                                <svg class="header-btn__icon"><use xlink:href="#icon-shopping-cart"></use></svg>
                                    <span class="header-btn__text">Корзина</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
    <!-- Каталог навигация -->

    <div class="header-catalog-content">
        <div class="header-catalog-content__box">
            <div class="wrap">
                <div class="header-catalog-nav">
                    <a href="#!" class="header-catalog-nav__item header-catalog-nav__item_stocks">Акции</a>
                    <a href="#!" class="header-catalog-nav__item">Мебель для персонала</a>
                    <a href="#!" class="header-catalog-nav__item">Кабинеты руководителей</a>
                    <a href="#!" class="header-catalog-nav__item">Диваны</a>
                    <a href="#!" class="header-catalog-nav__item">Кресла</a>
                    <a href="#!" class="header-catalog-nav__item">Мебель из металла</a>
                    <a href="#!" class="header-catalog-nav__item">Сейфы</a>
                    <a href="#!" class="header-catalog-nav__item">Раздел 7</a>
                    <a href="#!" class="header-catalog-nav__item">Раздел 8</a>
                </div>
            
                <div class="header-catalog-box">
                    <div class="header-catalog-box__item">
                        <div class="header-catalog-box__title">Эконом-класс</div>
                        <ul class="header-catalog-list">
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Esperto»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Reventon»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Банкир»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Гамильтон»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Мистер»</a></li>
                        </ul>
                    </div>
                    <div class="header-catalog-box__item">
                        <div class="header-catalog-box__title">Бизнесс-класс</div>
                        <ul class="header-catalog-list">
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Vito»</a></li>
                            
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Бизнес плюс»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Дуглас»</a></li>
                            
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Мастер»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Премьеp S»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Премьер»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Спектр плюс»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Талант»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Теорема»</a></li>

                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Престиж»</a></li>
                        </ul>
                    </div>
                    <div class="header-catalog-box__item">
                        <div class="header-catalog-box__title">Премиум-класс</div>
                        <ul class="header-catalog-list">
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Бизнес»</a></li>
                            
                            <li class="header-catalog-list__item"><a href="#!" class="header-catalog-list__link">Серия «Спектр»</a></li>
                        </ul>
                    </div>
                </div>        
            </div>
        </div>
    </div>

    <!-- === Nav mobile === -->

    <div class="nav-mobile">
        <button class="nav-btn" id="nav-btn-mobile">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>
        <ul class="nav__list">
            <li class="li nav__item"><a href="#!" class="nav__link">О нас</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Портфолио</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Оплата и доставка</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Вопрос-ответ</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Сервис</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Контакты</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Новости</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link">Дилерам</a></li>
            <li class="li nav__item"><a href="#!" class="nav__link nav__link_login">Войти</a></li>
        </ul>
    </div>

    <!-- === / Nav mobile === -->


