<div class="product-card-info">
    <div class="wrap">
        <div class="product-card-info__container">
            <div class="product-card-info-slider">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="product-card-info-slider__item swiper-slide">
                            <div class="marker-box">
                                <span class="marker marker_blue"><span>Скидка 50%</span></span>
                                <span class="marker marker_green">Хит</span>
                            </div>
                            <img src="../img/card-product/extensive-product-info/extensive-product-info__item_1.jpg" alt="Фото товара" class="product-card-info-slider__img">
                        </div>
                    
                        <div class="product-card-info-slider__item swiper-slide">
                            <div class="marker-box">
                                <span class="marker marker_blue"><span>Скидка 50%</span></span>
                                <span class="marker marker_green">Хит</span>
                            </div>
                            <img src="../img/card-product/extensive-product-info/extensive-product-info__item_1.jpg" alt="Фото товара" class="product-card-info-slider__img">
                        </div>

                        <div class="product-card-info-slider__item swiper-slide">
                            <div class="marker-box">
                                <span class="marker marker_blue"><span>Скидка 50%</span></span>
                                <span class="marker marker_green">Хит</span>
                            </div>
                            <img src="../img/card-product/extensive-product-info/extensive-product-info__item_1.jpg" alt="Фото товара" class="product-card-info-slider__img">
                        </div>

                        <div class="product-card-info-slider__item swiper-slide">
                            <div class="marker-box">
                                <span class="marker marker_blue"><span>Скидка 50%</span></span>
                                <span class="marker marker_green">Хит</span>
                            </div>
                            <img src="../img/card-product/extensive-product-info/extensive-product-info__item_1.jpg" alt="Фото товара" class="product-card-info-slider__img">
                        </div>
                    </div>
                    
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="product-card-info-slider__item swiper-slide">
                            <img class="product-card-info-slider__img-2" src="../img/card-product/extensive-product-info/slider/extensive-product-info__slider_item_1.jpg" alt="Фото товара">
                        </div>
            
                        <div class="product-card-info-slider__item swiper-slide">
                            <img class="product-card-info-slider__img-2" src="../img/card-product/extensive-product-info/slider/extensive-product-info__slider_item_1.jpg" alt="Фото товара">
                        </div>

                        <div class="product-card-info-slider__item swiper-slide">
                            <img class="product-card-info-slider__img-2" src="../img/card-product/extensive-product-info/slider/extensive-product-info__slider_item_1.jpg" alt="Фото товара">
                        </div>

                        <div class="product-card-info-slider__item swiper-slide">
                            <img class="product-card-info-slider__img-2" src="../img/card-product/extensive-product-info/slider/extensive-product-info__slider_item_1.jpg" alt="Фото товара">
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
    
            <div class="product-card-info-box">
                <div class="product-card-info-box__item">
                    <div class="product-card-info-box__price">
                        <div class="product-card-info-box__price_standard"></div>
                        <div class="product-card-info-box__price_old">5 484 р.</div>
                        <div class="product-card-info-box__price_now">2 742 р.</div>
                    </div>

                    <div class="product-card-info-box__item-box">
                        <div class="product-card-info-rating">
                            <div class="product-card-rating">
                                <div class="product-card-rating__item">
                                    <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                                 </div>
                                <div class="product-card-rating__item">
                                    <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                                 </div>
                                <div class="product-card-rating__item">
                                    <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                                 </div>
                                <div class="product-card-rating__item">
                                    <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                                 </div>
                                <div class="product-card-rating__item">
                                    <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                                 </div>
                            </div>
        
                            <div class="product-card-info-rating__box">(<span class="product-card-info-rating__this">4.1</span> / <span class="product-card-info-rating__max">5</span>)</div>
        
                        </div>
                        <div class="product-card-info-btn-box-1">
                            <button class="product-card-info-btn-box-1__favorites">
                                <svg><use xlink:href="#card-product-info-favorites"></use></svg>
                                <span>В избранное</span>
                            </button>
                            <button class="product-card-info-btn-box-1__compares">
                                <svg><use xlink:href="#card-product-info-compares"></use></svg>
                                <span>Сравнить</span>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="products-color-box">
                    <div class="products-color-box__text">Цвета:</div>
                    <button class="products-color-box__color products-color-box__color-1"></button>
                    <button class="products-color-box__color products-color-box__color-2"></button>
                    <button class="products-color-box__color products-color-box__color-3"></button>
                    <button class="products-color-box__color products-color-box__color-4"></button>
                </div>
    
                <div class="select">
                    <div class="select__title">Параметры, мм:</div>
                    <div class="ui-dropdown">
                        <div class="ui-dropdown__current">200х100х100</div>
                        <div class="ui-dropdown__items">
                            <div class="ui-dropdown__item">200х100х100</div>
                            <div class="ui-dropdown__item">200х100х100</div>
                            <div class="ui-dropdown__item">200х100х100</div>
                        </div>
                    </div>
                </div>

                <div class="tabs-box">
                    <div class="tabs-box__title">Ориентация:</div>
                    <div class="ui-tabs">
                        <label class="ui-tabs__label">
                            <input class="ui-tabs__input" type="radio" name="tab" checked>
                            <div class="ui-tabs__title">Левый</div>
                        </label>
            
                        <label class="ui-tabs__label">
                            <input class="ui-tabs__input" type="radio" name="tab">
                            <div class="ui-tabs__title">Правый</div>
                        </label>
                    </div>
                </div>
    
                <div class="product-card-info-box__container">
                    <div class="count-buttons">
                        <div class="count-buttons__box">
                            <button class="count-buttons__btn"></button>
                            <input class="count-buttons__input" placeholder="1">
                            <button class="count-buttons__btn">+</button>
                        </div>
                        <div class="count-buttons__text">шт.</div>
                    </div>
    
                    <button class="btn-2">В корзину</button>
                    <button class="btn-base">Купить в 1 клик</button>
                </div>
            </div>
        </div>

        <div class="product-specifications">
            <div class="section-title-2">Характеристики</div>

            <div class="product-specifications__container">
                <div class="product-specifications__box">
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Материал:</span>
                        <span class="product-specifications-item__value">ЛДСП</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Производитель:</span>
                        <span class="product-specifications-item__value">МФК</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Толщина столешницы:</span>
                        <span class="product-specifications-item__value">22 мм</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Толщина каркаса:</span>
                        <span class="product-specifications-item__value">16 мм</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Компенсатор неровности пола:</span>
                        <span class="product-specifications-item__value">да</span>
                    </div>
                </div>
    
                <div class="product-specifications__box">
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Материал:</span>
                        <span class="product-specifications-item__value">ЛДСП</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Производитель:</span>
                        <span class="product-specifications-item__value">МФК</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Толщина столешницы:</span>
                        <span class="product-specifications-item__value">22 мм</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Толщина каркаса:</span>
                        <span class="product-specifications-item__value">16 мм</span>
                    </div>
    
                    <div class="product-specifications-item">
                        <span class="product-specifications-item__title">Компенсатор неровности пола:</span>
                        <span class="product-specifications-item__value">да</span>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>