
<div class="product-card swiper-slide">
    <div class="product-card__wrap">
        <div class="product-card__img-box">
            <div class="product-card__box">
                <div class="marker-box">
                    <span href="#!" class="marker marker_green">Хит</span>
                </div>
                <div class="product-card-icon-box">
                    <button class="product-card__favorites product-card-icon-box__item" type="button"><svg><use xlink:href="#icon-favorites-select-item"></use></svg></button>
                    
                    <button class="product-card__compare product-card-icon-box__item" type="button"><svg><use xlink:href="#icon-compare-select-item"></use></svg></button>
                </div>
                <a href="#!" class="product-card__img" title="Стол компьютерный из серии «Оптима»"><img src="img/card-product/product-img_2.jpg" alt="Стол-тумба"></a>
            </div>
        </div>
        <div class="product-card__category">Мебель для персонала</div>
        <div class="product-card__description">
            <a href="#!" class="product-card__name" title="Стол компьютерный из серии «Оптима»">Стол компьютерный из серии «Оптима»</a>

            <div class="product-card-color">
                <div class="product-card-color__title">Цвета:</div>
                <div class="product-card-color__item product-card-color__1"></div>
                <div class="product-card-color__item product-card-color__2"></div>
                <div class="product-card-color__item product-card-color__3"></div>
                <div class="product-card-color__item product-card-color__4"></div>
            </div>
            
            
            <div class="product-card__container">
                <div class="product-card-price">
                    <div class="product-card-price__standard"><span>от</span>2 742 р.</div>
                    <span class="product-card-price__old product-card-price__old_hide"></span>
                    <span class="product-card-price__new product-card-price__new_hide"></span>                              
                </div>

                <div class="product-card-rating">
                    <div class="product-card-rating__item">
                        <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                    </div>
                    <div class="product-card-rating__item">
                        <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                    </div>
                    <div class="product-card-rating__item">
                        <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                    </div>
                    <div class="product-card-rating__item">
                        <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                    </div>
                    <div class="product-card-rating__item">
                        <svg class="product-card-rating__icon-star"><use xlink:href="#icon-rating-star"></use></svg>
                    </div>
                </div>
            </div>

            <a href="#!" class="product-card__more-detailed">Подробнее</a>
        </div>
    </div>
</div>
