<div class="list-series-container">
    <div class="section-title-2">Серия «Бизнес»</div>
    <div class="list-series-container__content">
        <div class="list-series-container__img-box">
            <img src="../img/series/list-series__item_1.jpg" alt="Серия «Бизнес»" class="list-series-container__img">
        </div>

        <div class="list-series-container__item">
            <div class="list-series-container__text">Элементы серии:</div>
            <div class="series-products">
                <ul class="series-products__list">
                    <li class="series-products__item">
                        <a href="#!" title="Стол" class="series-products__img-box">
                            <img src="../img/series/series-products_1.jpg" alt="Фото товара" class="series-products__img">
                        </a>
                        <div>
                            <a href="#!" title="Стол" class="series-products__description">Стол</a>
                            <span class="series-products__price">от 2 742 р.</span>
                        </div>
                    </li>
                    
                    <li class="series-products__item">
                        <a href="#!" title="Шкаф" class="series-products__img-box">
                            <img src="../img/series/series-products_2.jpg" alt="Фото товара" class="series-products__img">
                        </a>
                        <div>
                            <a href="#!" title="Шкаф" class="series-products__description">Шкаф</a>
                            <span class="series-products__price">8 951 р.</span>
                        </div>
                    </li>

                    <li class="series-products__item">
                        <a href="#!" title="Стол" class="series-products__img-box">
                            <img src="../img/series/series-products_1.jpg" alt="Фото товара" class="series-products__img">
                        </a>
                        <div>
                            <a href="#!" title="Стол" class="series-products__description">Стол</a>
                            <span class="series-products__price">от 2 742 р.</span>
                        </div>
                    </li>

                    <li class="series-products__item">
                        <a href="#!" title="Шкаф" class="series-products__img-box">
                            <img src="../img/series/series-products_2.jpg" alt="Фото товара" class="series-products__img">
                        </a>
                        <div>
                            <a href="#!" title="Шкаф" class="series-products__description">Шкаф</a>
                            <span class="series-products__price">8 951 р.</span>
                        </div>
                    </li>
                </ul>
                <div class="series-products__btn-box">
                    <button class="btn-2">Все элементы</button>
                    <div class="series-products__text">+50 элементов</div>
                </div>
            </div>

            <div class="series-products__material-box">
                <span class="series-products__text">Материал: </span>
                <span class="series-products__material">ЛДСП</span>
            </div>
            
            <div class="products-color-box">
                <div class="products-color-box__text">Цвета:</div>
                <button class="products-color-box__color products-color-box__color-1"></button>
                <button class="products-color-box__color products-color-box__color-2"></button>
                <button class="products-color-box__color products-color-box__color-3"></button>
                <button class="products-color-box__color products-color-box__color-4"></button>
            </div>
        </div>
    </div>
</div>