<div class="cart-product-description">
    <div class="cart-product-description__item cart-product-description__name">Стол руководителя</div>
    <div class="cart-product-description__item cart-product__parameters">200х100х100,</div>
    <div class="cart-product-description__item cart-product__color">Светло-серый,</div>
    <div class="cart-product-description__item cart-product__article">Арт.<span>1234567,</span></div>
    <div class="cart-product-information-amount">
        <span><span class="cart-product-information-amount__goods">2</span>  шт. х</span>
        <span><span class="cart-product-information-amount__price">5 467</span> р.</span>
    </div>
</div>