<div class="user-product-card-min">
    <div class="user-product-card-min__description">
        <div class="user-product-card-min__name">Стол руководителя</div>
        <div class="user-product-card-min__size">Параметры, мм:<span>200х100х100</span></div>
        <div class="user-product-card-min__color">Цвет:<span>Светло-серый</span></div>
    </div>

    <div class="user-product-card-min__article">12345678910111221</div>

    <div class="user-product-card-min__count">100 <span>шт.</span></div>

    <div class="user-product-card-min__box">
        <div class="user-product-card-min__price"><span>24 760</span> руб.</div>
    </div>                                    
</div>