<div class="user-product-card">
    <div class="user-product-card__description">
        <div class="user-product-card__name">Стол руководителя</div>
        <div class="user-product-card__size">Параметры, мм:<span>200х100х100</span></div>
        <div class="user-product-card__color">Цвет:<span>Светло-серый</span></div>
    </div>

    <div class="user-product-card__article">12345678910111221</div>

    <div class="user-product-card__count">
        <div class="count-buttons">
            <div class="count-buttons__box">
                <button class="count-buttons__btn"></button>
                <input class="count-buttons__input" placeholder="0">
                <button class="count-buttons__btn">+</button>
            </div>
        </div>
    </div>

    <div class="user-product-card__box">
        <div class="user-product-card__price"><span>2 476</span> руб.</div>

        <div class="user-product-card__btn-box">
            <button class="btn-2">Добавить</button>
        </div>
    </div>                                    
</div>